<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.mapper.ProductYisunCellCopy1Mapper">

   <update id="editModel" parameterType="com.bing.model.ProductYisunCellCopy1">
       update t_product_yisun_cell
       set model = #{model}
       where factory_num = #{factoryNum}
   </update>

    <update id="editFactory" parameterType="com.bing.res.vo.FactoryNum">
       update t_product_yisun_${tab}
       set factory_num = #{factoryNum}
       where product_id = #{id}
   </update>
    <select id="findFactory" resultType="com.bing.res.vo.FactoryNum" parameterType="java.lang.String">
        select
        product_id as 'id', factory_num as 'factoryNum',shop_id as 'shopId'
        from t_product_yisun_${tab}
        where factory_num is null or factory_num = ''
    </select>

    <select id="findStr" resultType="java.lang.String">
        select
        DISTINCT factory_num
        from t_product_yisun_cell
    </select>
    <select id="findCellModel" resultType="com.bing.po.CellModel">
        select DISTINCT th.factory as 'factory',GROUP_CONCAT(tc.id) as 'model'
        from  tuhu th left join t_model_cell_tuhu tc  on th.f = tc.f
        GROUP BY factory
    </select>
</mapper>
