<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.mapper.ProductYisunChassisMapper">

<update id="editPrice" parameterType="com.bing.model.ProductYisunFilterHy">
        update
        t_product_yisun_Chassis
        set  ourc_price = #{ourcPrice} ,price = #{price},unit = #{unit}
        where factory_num = #{factoryNum}
    </update>

    <update id="editFactory" parameterType="com.bing.model.ProductYisunChassis">
      update t_product_yisun_Chassis
      set oem = #{oem}
      where factory_num = #{factoryNum}
    </update>
</mapper>