<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.mapper.ProductYisunFilterHyMapper">

<update id="editPrice" parameterType="com.bing.model.ProductYisunFilterHy">
        update
        t_product_yisun_filter
        set  apply_model = #{applyModel}
        where factory_num = #{factoryNum}
    </update>

    <update id="editOurcPriceMa" parameterType="com.bing.model.ProductYisunFilterHy">
        update
        t_product_yisun_filter_copy2
        set  ourc_price = #{ourcPrice}
        where factory_num = #{factoryNum}
    </update>
    <update id="editPriceMa" parameterType="com.bing.model.ProductYisunFilterHy">
        update
        t_product_yisun_filter
        set  price = #{price}
        where factory_num = #{factoryNum}
    </update>
    <update id="editPriceMan" parameterType="com.bing.model.ProductYisunFilterHy">
        update
        t_product_yisun_filter
        set  price = #{price},
        apply_model = #{applyModel},
        another_name = #{anotherName}
        where factory_num = #{factoryNum} and spec_name = #{specName}
    </update>
    <update id="editOurcPriceMan" parameterType="com.bing.model.ProductYisunFilterHy">
        update
        t_product_yisun_filter
        set  ourc_price = #{ourcPrice},
        apply_model = #{applyModel},
        another_name = #{anotherName}
        where factory_num = #{factoryNum} and spec_name = #{specName}
    </update>
    <update id="editHYPirce" parameterType="com.bing.model.ProductYisunFilterHy">
        update
        t_product_yisun_filter
        set  ourc_price = #{ourcPrice},
        apply_model = #{applyModel},
        price = #{price}
        where factory_num = #{factoryNum} and spec_name = #{specName}
    </update>
    <update id="editModel" parameterType="com.bing.model.ProductYisunFilterHy">
        update
        t_product_yisun_filter
        set  apply_model = #{applyModel}
        where factory_num = #{factoryNum} and spec_name = #{specName}
    </update>
</mapper>