<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.mapper.ModelTireDlpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bing.model.ModelTireDlp">
    <result column="id" property="id" />
        <result column="letter" property="letter" />
        <result column="brand" property="brand" />
        <result column="model" property="model" />
        <result column="category" property="category" />
        <result column="year" property="year" />
        <result column="tire" property="tire" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,letter, brand, model, category, year, tire
    </sql>

    <select id="findModel" parameterType="com.bing.model.ModelTireDlp" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from
        t_model_tire_dlp
        where tire like concat('%', #{tire} ,'%')
    </select>

</mapper>
